<div class="child-grid"
     [class.highlighted-red]="highlightedZone?.row === parentRow && highlightedZone?.column === parentColumn && boxValue === 'x_value'"
     [class.highlighted-blue]="highlightedZone?.row === parentRow && highlightedZone?.column === parentColumn && boxValue === 'o_value'"
     [class.is-ai]="isCurrentPlayerAI"
>
  <ng-container *ngIf="childGrid.winnerValue === 'none'">
    <div *ngFor="let childGridLine of childGrid.boxes; let rowIndex = index" class="child-grid-line">
      <div *ngFor="let box of childGridLine; let columnIndex = index" class="child-grid-box">
        <img *ngIf="box.toString() !== 'none'" [src]="'assets/images/' + box + '.png'" alt="Box">
        <span *ngIf="box.toString() === 'none'" (click)="playRound(rowIndex, columnIndex)"></span>
      </div>
    </div>
  </ng-container>
  <div class="filled-child" *ngIf="childGrid.winnerValue !== 'none'">
    <img [src]="'assets/images/' + childGrid.winnerValue + '.png'" alt="Box">
  </div>
</div>
