:host {
  .child-grid {
    margin: 0 4px;
    border-radius: 8px;

    .child-grid-line {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 200px;
      gap: 4px;
      margin: 4px 0;

      .child-grid-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 4px;
        width: 60px;
        height: 60px;
        background-color: #e8e8e8;
        border-radius: 8px;
        border: 2px solid #36454f;

        > img {
          max-width: 50%;
        }

        > span {
          width: 100%;
          height: 100%;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .filled-child {
      max-width: 184px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      > img {
        width: 100%;
        height: 100%;
      }
    }

    &.highlighted-blue {
      background-color: aqua;
    }

    &.highlighted-red {
      background-color: indianred;
    }

    &.is-ai {
      pointer-events: none;
    }
  }
}
