:host {
  background-color: azure;
  padding: 8px 12px;
  border: 4px solid #36454f;
  border-radius: 16px;
  margin: 8px 0;

  .grid-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    max-width: 600px;
    margin: 4px 0;

    .child-grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 4px;
    }
  }
}
