<div *ngFor="let gridLine of grid.childGrids; let parentRow = index" class="grid-line">
  <div *ngFor="let childGrid of gridLine; let parentColumn = index" class="child-grid">
    <app-child-grid [childGrid]="childGrid" [parentRow]="parentRow" [parentColumn]="parentColumn"></app-child-grid>
  </div>
</div>
