:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .is-finished {
    pointer-events: none;
  }

  .game-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    > img {
      width: 256px;
      height: 256px;
    }

    .game-actions {
      display: flex;
      flex-direction: row;
      align-items: start;
      gap: 16px;

      .game-creation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
      }

      .game-choices {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;

        > img:hover {
          cursor: pointer;
        }

        > img:first-child {
          width: 36px;
          height: 36px;
        }

        > img:last-child {
          width: 48px;
          height: 48px;
        }
      }

      .ai-choices {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
      }
    }
  }

  .winner-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    height: 64px;

    > img {
      height: 32px;
    }
  }
}
