<ng-container *ngIf="currentGame">
  <app-grid [grid]="currentGame.grid" [class.is-finished]="isFinished"></app-grid>
  <button class="main-button" (click)="onQuitGame()">Quit</button>
</ng-container>

<div *ngIf="!currentGame" class="game-form">
  <img src="assets/images/morpion.jpg" alt="morpion"/>
  <div class="game-actions">
    <div class="game-creation">
      <button [disabled]="chosenValue === 'none'" class="main-button" (click)="onStartGame()">Start Game</button>
      <div class="game-choices">
        <img src="assets/images/x_value.png" alt="x" (click)="setGameValue('x_value')"/>
        <img src="assets/images/o_value.png" alt="o" (click)="setGameValue('o_value')"/>
      </div>
      <input [formControl]="ipFormControl" [placeholder]="'22:22:22:22:8964'">
      <div class="ai-choices">
        <label>
          <input type="checkbox" [(ngModel)]="isAI"> Play with AI
        </label>
        <label>
          <input type="checkbox" [(ngModel)]="vsAI"> Play vs AI
        </label>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isFinished" class="winner-info">
  <h2>Winner</h2>
  <img [src]="'assets/images/'+winnerPlayer.gameValue + '.png'" alt="Winner Value"/>
</div>
