/* You can add global styles to this file, and also import other style files */
body,
html {
  height: 100vh;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: border-box;
}

.main-button {
  background-color: #2f54eb;
  padding: 8px;
  border-radius: 8px;
  color: white;
  border: none;
  font-size: 18px;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    background-color: darkgray;
    cursor: auto;
  }
}

.second-button {
  background-color: #fcae1e;
  padding: 8px;
  border-radius: 8px;
  color: white;
  border: none;
  font-size: 18px;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    background-color: darkgray;
    cursor: auto;
  }
}
